<div class="row">
    <div class="col-sm-12">

        <input type="hidden" class="hidden txtUKRisco" value="@ViewBag.UKRisco" />

        <input type="text" class="txtNovoDano col-xs-12 col-sm-12" />

    </div>
</div>



