

@{ 
    Layout = "";
}

<div class="row">
    <div class="col-sm-12">

        <input type="hidden" class="hidden txtUkAlocacao" value="@ViewBag.UKAlocacao" />
        <input type="hidden" class="hidden txtUkREL" value="@ViewBag.UKREL" />

        <input type="text" class="txtComentario col-xs-12 col-sm-12" />

    </div>
</div>
