

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    // Load Charts and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });
    // Draw the pie chart for Sarah's pizza when Charts is loaded.
    google.charts.setOnLoadCallback(drawSarahChart);
    // Draw the pie chart for the Anthony's pizza when Charts is loaded.
    google.charts.setOnLoadCallback(drawAnthonyChart);    
    // Draw the pie chart and bar chart when Charts is loaded.
    google.charts.setOnLoadCallback(drawChart);
    // Callback that draws the pie chart for Sarah's pizza.


    function drawSarahChart() {

        // Create the data table for Sarah's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['Queda', 1],
            ['Eletricidade', 1],
            ['Veículo', 2],
            ['Contusões', 2],
            //['Maio', 1]
        ]);

        // Set options for Sarah's pie chart.
        var options = {
            title: 'Acidentes por Tipo - 2019',
             width: 600,
            height: 400,
        };

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('Sarah_chart_div'));
        chart.draw(data, options);
    }

    // Callback that draws the pie chart for Anthony's pizza.
    function drawAnthonyChart() {

        // Create the data table for Anthony's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['Caeté', 2],
            ['São Paulo', 1],
            ['Betim', 1],
            ['Sabará', 2],
            ['Ouro Preto', 1]
        ]);

        // Set options for Anthony's pie chart.
        var options = {
            title: 'Acidentes por Cidade - 2019',
            width: 600,
            height: 400,
        };

        // Instantiate and draw the chart for Anthony's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('Anthony_chart_div'));
        chart.draw(data, options);
    }




    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['Mãos', 3],
            ['Braços', 1],
            ['Pernas', 1],
            ['Pé', 1],
            ['Cabeça', 4]
        ]);

        var piechart_options = {
            title: 'Natureza das Lesões',
             width: 600,
            height: 400,
        };
        var piechart = new google.visualization.PieChart(document.getElementById('piechart_div'));
        piechart.draw(data, piechart_options);

        var barchart_options = {
            title: 'Natureza das Lesões',
            width: 600,
            height: 400,
            legend: 'none'
        };
        var barchart = new google.visualization.BarChart(document.getElementById('barchart_div'));
        barchart.draw(data, barchart_options);
    }
</script>



<div class="jumbotron">

    <div class="row">
        <div class="col-xs-12 col-sm-6 ">
            <div class="form-group ">
                @Html.Label("Tipos", new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                <div class="col-xs-12 col-sm-12 ">
                    <div id="Sarah_chart_div" ></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 ">
            <div class="form-group">
                @Html.Label("Cidade", new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    <div id="Anthony_chart_div" ></div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-6 ">
            <div class="form-group">
                @Html.Label("Percentual por Lesões", new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    <div id="piechart_div" ></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 ">
            <div class="form-group">
                @Html.Label("Totais por Lesões", new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    <div id="barchart_div" ></div>
                </div>
            </div>
        </div>

    </div>



</div>
