<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GISCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GISCore.Properties.Settings>
            <setting name="GISCore_WSAutenticacao_CartaoCorporativo" serializeAs="String">
                <value>https://web.cemig.com.br/gedoc/spf.custom.ws.gedocapp/cartaocorporativo.asmx</value>
            </setting>
        </GISCore.Properties.Settings>
    </applicationSettings>
</configuration>