@model GISModel.Entidades.Risco
@{
    ViewBag.Title = "Cadastro de Risco";
}

<div id="formCadRisco">
    @using (Ajax.BeginForm("Cadastrar", "Risco", null,
        new AjaxOptions
        {
            HttpMethod = "POST",
            OnBegin = "OnBeginCadastrarRisco",
            OnSuccess = "OnSuccessCadastrarRisco",
        }, new { @id = "formCadastroRisco", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>
    }
</div>