@model GISModel.Entidades.ReconhecimentoDoRisco




<div class="row">
    <div class="col-sm-12">

       
        <input type="hidden" class="hidden txtUKWorkArea" value="@ViewBag.UKWorkArea" />
        <input type="hidden" class="hidden txtUKRisco" value="@ViewBag.UKRisco" />

        <input type="text" class="hidden txtNomeWa" value="@ViewBag.NomeWorkarea" />
        <input type="text" class="hidden txtNomeRisc" value="@ViewBag.NomeRisco" />




        <input type="text" class="txtNovoControle col-xs-12 col-sm-12" />

    </div>
</div>
