<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>

    <add key="Web:NomeModulo" value="SESMT-TECNOLOGICO"/>
    <add key="Web:NomeCompletoModulo" value="SESMT-TECNOLOGICO"/>
    <add key="Web:VersaoModulo" value="1.0.0"/>
    <add key="Web:DefaultController" value="Empresa"/>
    <add key="Web:DefaultAction" value="Index"/>
    <add key="Web:ExpirarLinkAcesso" value="3"/>
    <add key="Web:Remetente" value="sesmttecnologico@gmail.com"/>
    <add key="Web:SMTP" value="smtp.gmail.com"/>
    <add key="Web:PadraoCoresLista" value="#e8b110,#a039c2,#39c276,#D53F40,#3983C2,#c26539,#000000"/>
    <add key="Vault" value="C:\Sites\Workspace\Vault\Gestor"/>
    <add key="MaxFilesPerDir" value="20"/>
    <add key="AD:DMZ" value="true"/>
    <add key="AD:LoginAutomatico" value="false"/>
    <add key="AD:Endereco" value="CEMIG.AD.CORP"/>
    <add key="AD:DesconsiderarSenha" value="true"/>
    <add key="AD:IncluirCaptchaNoLogin" value="false"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  </appSettings>
  <connectionStrings>
    <clear />
    <!--<add name="SESTECConection" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SESTECConection;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
    <!--<add name="SESTECConection" providerName="System.Data.SqlClient" connectionString="Data Source=WIN2016\SQL2017;Initial Catalog=dbGestorSST;User Id=sestec;Password=sestec;" />-->
    <add name="SESTECConection" providerName="System.Data.SqlClient" connectionString="Data Source=dbsesmt.cuwdajdsxjv5.us-east-2.rds.amazonaws.com,1433;Initial Catalog=dbGestor;User Id=sesmtdbadmin;Password=gabrieldbadmin;"/>
  </connectionStrings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="104857600" executionTimeout="1800000" />
    <authentication mode="Windows">
      <forms loginUrl="~/Account/Login" timeout="120" name=".gestaoSST" />
    </authentication>
    <httpHandlers>
      <!-- Simple API: Register the HttpHandler used for BotDetect requests -->
      <add verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect" />
      <!-- Traditional API: Register the HttpHandler used for BotDetect requests -->
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </httpHandlers>
    <!-- Traditional API: Register a custom SessionIDManager for BotDetect requests -->
    <sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" />
    <!-- Traditional API: Ensuring Session State is enabled -->
    <pages enableSessionState="true">
      <controls>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
      </controls>
    </pages>
  </system.web>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" pollingInterval="02:00:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.112.0" newVersion="1.0.112.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Suporte" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_InfoService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>

      <endpoint address="http://www.muntec.com.br/ServiceVault/SVC/Suporte.svc/Soap11" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Suporte" contract="WCF_Suporte.Suporte" name="BasicHttpBinding_Suporte" />
      <endpoint address="https://gedex.cemig.com.br/INTEROP/WebHost/facadeservices/InfoService.svc/Soap12" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_InfoService" contract="CEMIGInfoService.InfoService" name="WSHttpBinding_InfoService" />

    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483646" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- Simple API: Register the HttpHandler used for BotDetect requests (IIS 7.0+) -->
      <remove name="SimpleCaptchaEndpoint" />
      <add name="SimpleCaptchaEndpoint" preCondition="integratedMode" verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect" />
      <!-- Traditional API: Register the HttpHandler used for BotDetect requests (IIS 7.0+) -->
      <remove name="BotDetectCaptchaHandler" />
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </handlers>
  </system.webServer>
</configuration>