@using GISModel.Entidades
@model Arquivo


@using (Html.BeginForm("IndexFaceUpload", "Arquivo", FormMethod.Post, new
{
    @id = "formUpload",
    @class = "dropzone",
    @enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(i => i.UKObjeto, new { @Value = ViewBag.UKObjeto })
    @Html.HiddenFor(i => i.NomeLocal, new { @Value = ViewBag.Nome })

    <input hidden type="text" name="Nome" id="Nome" value="@ViewBag.Nome" />

    <div class="fallback" style="border: 1px solid red;">
        <input name="file" style="border: 1px solid red;" type="file" multiple="" />
    </div>
}



