@{
    ViewBag.Title = "Listagem de Cargos";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">
            Cargos



            <a href="@Url.Action("Novo", "Cargoes")" class="btn btn-white btn-info btn-bold" style="float: right; margin-top: -2px; margin-right: 20px;">
                <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                Novo
            </a>
        </h3>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div id="contentDepartment" style="padding-left: 12px;">

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Ace/jQ/jquery.nestable.js"></script>
    <script src="~/Scripts/Custom/Cargo/Lista.js"></script>
}