
@{
    ViewBag.Title = "Listagem de Empresas";
}
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">
            Contratos
            <a href="@Url.Action("Novo", "Contrato")" class="btn btn-white btn-info btn-bold" style="float: right; margin-top: -2px;">
                <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                Novo Contrato
            </a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4">

    </div>
    <div class="col-xs-12 col-sm-4">

    </div>
    <div class="col-xs-12 col-sm-4">

    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4">

    </div>
    <div class="col-xs-12 col-sm-4">

    </div>
    <div class="col-xs-12 col-sm-4">

    </div>
</div>

<div class="hr hr-dotted"></div>

<div class="row">
    <div class="col-xs-12 col-sm-12">

        <div class="">
            <button id="btnLocalizarEmpregados" class="btn btn-sm btn-block btn-success" type="submit">
                <i class="ace-icon fa fa-search"></i>
                Pesquisar
            </button>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")

    <script src="~/Scripts/Custom/Contrato/Lista.js"></script>
    <script src="~/Scripts/Custom/Contrato/Excluir.js"></script>

}
