@{
    ViewBag.Title = "Listagem de Departamentos";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">
            Departamentos

            <a href="/Departamento/Novo" class="btn btn-white btn-info btn-bold btnNewDepartment" style="float: right; margin-top: -2px;">
                <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                Novo Departamento
            </a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div id="contentDepartment" style="padding-left: 12px;">

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Ace/jQ/jquery.nestable.js"></script>
    <script src="~/Scripts/Custom/Departamento/Listagem.js"></script>
}