

<div class="row">
    <div class="col-sm-12">

        <input type="hidden" class="hidden txtUKPerigo" value="@ViewBag.UKPerigo" />

        <input type="text" class="txtNovoRisco col-xs-12 col-sm-12" />

    </div>
</div>