
<div class="row">
    <div class="col-sm-12">

        <input type="hidden" class="hidden txtUKFonteGeradora" value="@ViewBag.UKWorkArea" />

        <input type="text" class="txtNovoPerigo col-xs-12 col-sm-12" />

    </div>
</div>