@using GISModel.Entidades
@model List<Admissao>

@if (Model == null || Model.Count == 0)
{
    <div class="alert alert-warning">
        <strong>
            <i class="ace-icon fa fa-meh-o"></i>
            Oops!
        </strong>

        No momento, não foi encontrado nenhuma adimissão ativa.
        <br>
    </div>
}
else
{
    foreach (Admissao adm in Model)
    {
        <div class="widget-box transparent collapsed" id="widget-box-1" data-ukadmissao="@adm.UniqueKey.ToString()">
            <div class="widget-header green" style="border-bottom: 1px solid #ddd">
                <h5 class="widget-title">
                    <i class="ace-icon fa fa-building" style="color: #585858"></i>
                    <a href="#" data-action="collapse" class="green">
                        <b>EMPRESA: @adm.Empresa.NomeFantasia</b>
                    </a>
                </h5>

                <div style="float: right; border: 0px;">

                    @if (adm.Alocacoes != null && adm.Alocacoes.Count == 0)
                    {
                        <a href="#" class="btn btn-mini btn-info btnNovaAlocacao" style="padding-left: 7px; padding-right: 7px; width: 110px;" data-target="#modalAlocacao" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                            <i class="ace-icon fa fa-plus-circle bigger-120"></i>
                            <span class="bigger-110">Alocar</span>
                        </a>

                        <a href="#" class="btn btn-mini btn-danger btnDemitir" style="padding-left: 7px; padding-right: 7px; width: 110px;" data-target="#modalAdmissao" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                            <i class="ace-icon fa fa-minus bigger-120"></i>
                            <span class="bigger-110">Demitir</span>
                        </a>
                    }

                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <p>Data de Admissão: @adm.DataAdmissao</p>
                    <p>Alocado por: @adm.UsuarioInclusao</p>

                    @if (adm.Alocacoes != null && adm.Alocacoes.Count == 0)
                    {
                        <div class="alert alert-warning">
                            <strong>
                                <i class="ace-icon fa fa-meh-o"></i>
                                Oops!
                            </strong>

                            No momento, não foi encontrado nenhuma alocação ativa nesta empresa.
                            <br>
                        </div>
                    }
                    else
                    {
                        <p>Em construção...</p>
                    }

                </div>
            </div>
        </div>

    }

}