<div class="row">
    <div class="col-sm-12">

        <input type="hidden" class="hidden txtUKFuncao" value="@ViewBag.UK_Funcao" />

        <input type="text" class="txtNovaAtividade col-xs-12 col-sm-12" />

    </div>
</div>
