
<div class="row">
    <div class="col-sm-12">

        <input type="hidden" class="txtRegistro col-xs-12 col-sm-12" value="@ViewBag.Registro" />
        <input type="text" class="txtNovaAtividade col-xs-12 col-sm-12" />

    </div>
</div>