<div class="row">
    <div class="col-sm-12">

        <input type="hidden" class="hidden txtUKAtividade" value="@ViewBag.UKAtividade" />

        <input type="text" class="txtNovoDoc col-xs-12 col-sm-12" />

    </div>
</div>

